body {
   font-family: Helvetica, sans-serif;
   font-size: 3em;
}

.container {
   margin: auto;
   max-width: 520px;
   min-width: 520px;
   padding: 0px;
}

.calculator {
   margin: 0px;
   padding: 15px;
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;
   border: 1px solid #000;
   border-radius: 18px;

   background-color: #666;
}
.screen {
   min-width: 473px;
   max-width: 473px;
   min-height: 120px;
   max-height: 120px;
   border: 1px solid #000;
   border-radius: 15px 15px 0 0;

   text-align: right;
   vertical-align: bottom;
   line-height: 120px;

   margin-bottom: 15px;
   padding-right: 15px;

   background-color: #FFF;
}

.btn {
   min-width: 120px;
   max-width: 120px;
   min-height: 120px;
   max-height: 120px;
   padding: 0px;
   border: 1px solid #000;

   text-align: center;
   vertical-align: middle;
   line-height: 120px;

   background-color: #FFF;
   transition: background-color 0.25s linear; 
   -moz-transition: background-color 0.25s linear;  
   -webkit-transition: background-color 0.25s linear; 
   -ms-transition: background-color 0.25s linear;
}

.btn:active,
.btn.active {
   background-color: #26A65B;
}

.btn.operator {
   background-color: #CCC;
}
.btn.operator:active,
.btn.operator.active {
   background-color: #22A7F0;
}

.btm-r {
   border-radius: 0 0 15px 0;
}

.btm-l {
   border-radius: 0 0 0 15px;
}

#eql-btn {
   min-width: 242px;
   max-width: 242px;
}

#eql-btn:active,
#eql.active{
   background-color: #FFB61E;
}

#cancel-btn:active,
#cance-btn.active{
   background-color: #F62459;
}